.project-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "仿宋", "楷体", "微软雅黑", "黑体", "宋体", Arial, Helvetica,
    sans-serif;
}

.project-wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 3em;
}

.project-main {
  border: 1px dashed #333;
  margin: 0.5em;
  border-radius: 0.25em;
}

.project-main header {
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.project-main aside {
  display: none;
  margin-right: 0.5em;
}
.project-main aside.show {
  display: block;
}

.control-section,
.manager-section,
.terminal-section,
.system-section,
.remote-section,
.meeting-section,
.behavior-section,
.schedule-section,
.xiyuyou-section {
  width: 100%;
  box-sizing: border-box;
  padding-left: 1em;
}

.control-section canvas,
.manager-section canvas,
.terminal-section canvas,
.system-section canvas,
.remote-section canvas,
.meeting-section canvas,
.behavior-section canvas,
.schedule-section canvas,
.xiyuyou-section canvas {
  cursor: pointer;
  margin-right: 1em;
  margin-bottom: 0.75em;
}

.project-container canvas.preview {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  cursor: pointer;
}
.project-container canvas.top {
  top: 0;
  bottom: auto;
}
.project-container canvas.bottom {
  top: auto;
  bottom: 0;
}

footer.project-footer {
  width: 100%;
  height: 2em;
  line-height: 2em;
  background-color: #c1c1c1;
  position: fixed;
  bottom: 0;
  text-align: center;
}
footer.hidden {
  visibility: hidden;
}

.project-container a {
  text-decoration: none;
}
