.project-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "仿宋", "楷体", "微软雅黑", "黑体", "宋体", Arial, Helvetica,
    sans-serif;
}

.project-main {
  border: 1px dashed #333;
  margin: 8px;
  border-radius: 4px;
}

.project-main > header {
  font-size: 1.5em;
  height: 42px;
  line-height: 42px;
  font-weight: 600;
  text-align: center;
}

.control-section,
.manager-section,
.terminal-section,
.system-section,
.debugTool-section {
  width: 100%;
  box-sizing: border-box;
  padding-left: 0.5em;
}

.control-section canvas,
.manager-section canvas,
.terminal-section canvas,
.system-section canvas,
.debugTool-section canvas {
  margin: 6px 4px;
  cursor: pointer;
}

.project-container canvas.preview {
  width: 960px;
  height: 540px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  cursor: pointer;
}
